!!!
%html{lang: "fr"}
  %head
    %title Teddy Lecaillon - Designer and Integrator of Interfaces - Lille France
    %link{rel: "icon", href: "/favicon.ico"}
    %meta{name: "description", content: yield(:meta_description)}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0, user-scalable=no"}
    -#%meta{name: "viewport", content: "height=device-height, initial-scale=1"}
    
    = stylesheet_link_tag "application", media: "all"
    = csrf_meta_tags

  %body{itemscope: "", itemtype: "http://schema.org/WebPage", class: "#{params[:controller]}-#{params[:action]}", id: "#{params[:controller]}"}
  
    = render "layouts/header"

    %main#main-content{itemscope: "", itemtype: "http://schema.org/mainContentOfPage"}
      = yield

    = render "layouts/footer"

    = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js"
    = javascript_include_tag :application
    = yield :javascript_tag
    